In [ ]:
#RIVYA SINGLA
#25070123091
#EXP4- sets in python
set1={"apple","cherry","banana"}
print(set1)

{'cherry', 'apple', 'banana'}

In [ ]:
set1=["apple","cherry","banana"]
print(set1[1])

cherry

In [ ]:
set2={2,2.5,True,"rivya"}
print(set2)

{'rivya', True, 2.5, 2}

In [ ]:
set3={"apple", 2, True, 1, "apple"}
print(set3)

{True, 2, 'apple'}

In [ ]:
set4={"apple","cherry","banana"}
print(set4.add("kiwi"))
print(set4)

None
{'cherry', 'kiwi', 'apple', 'banana'}

In [ ]:
set5={"apple","cherry","banana"}
set5.remove("banana")
print(set5)

{'cherry', 'apple'}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)

union: {1, 2, 3, 4, 5, 6}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)
print("intersection",set6 & set7)
print("diffrence",set6 - set7)
print("diffrence",set7 - set6)
print("dsimilar",set6 ^ set7)

union: {1, 2, 3, 4, 5, 6}
intersection {3, 4}
diffrence {1, 2}
diffrence {5, 6}
dsimilar {1, 2, 5, 6}

In [ ]:
set8=frozenset({"apple","banana","orange"})
print(set8)

frozenset({'apple', 'banana', 'orange'})

In [ ]:
set8=frozenset({"apple","banana","orange"})
print(set8)
print(type(set8))

frozenset({'apple', 'banana', 'orange'})
<class 'frozenset'>

In [ ]:
# adding or removal of elements are not allowed in frozensets

In [ ]:
'''problem statement 1: unique event participants
A college event has a list of students who registered multiple time by mistake.
write a program using set to store participans name and display only unique participants.'''

In [ ]:
participants = ["alex","maya","daniel","sofia","liam","aisha"]
unique_participants = set(participants)
print("unique participants:", unique_participants)

unique participants: {'alex', 'aisha', 'sofia', 'maya', 'daniel', 'liam'}

In [ ]:
'''problem statement 2: THree students choose elective subjects.
find the common subjects chlosen by all students using set operation
concept used : set intersection (&)'''

student1 = {"Maths", "Physics", "Computer Science"}
student2 = {"Computer Science", "Maths", "Biology"}
student3 = {"Maths", "Computer Science", "Chemistry"}
common_subjects = student1 & student2 & student3
print("Common elective subjects chosen by all students:")
print(common_subjects)

Common elective subjects chosen by all students:
{'Computer Science', 'Maths'}

In [ ]:
'''problem statement 3: one set contains student in the cricket club and another in football club.
find student who are :1 in both clubs 2 in only one club
concept used : set intersection (|) and set intersection (&)'''

cricket = {"Amit", "Binod", "Charle", "Darsh"}
football = {"Charle", "Darsh", "Elephant", "Finn"}
both_clubs = cricket & football
only_one_club = (cricket | football) - both_clubs
print("Students in both clubs:", both_clubs)
print("Students in only one club:", only_one_club)

Students in both clubs: {'Charle', 'Darsh'}
Students in only one club: {'Binod', 'Finn', 'Elephant', 'Amit'}

In [1]:
#question4
student = {"Rivya", "Ronit", "Dhruv", "Soham","Maahi", "Apoorba","Sijisha","Riya"}
presentstudents = {"Rupsa", "Ronit", "Dhruv", "Soham" }
absentstudents = student - presentstudents
print("Absent Student:", absentstudents)

Absent Student: {'Sijisha', 'Apoorba', 'Rivya', 'Maahi', 'Riya'}

In [ ]:
#question5
coursecodes = {739489, 82748,29479, 294776}
coursecodes.discard(739489)
print("Updates courses:", coursecodes)